<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Provider Panel</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/allstyle.css' %}">
</head>
<body>
    <div class="app">
        <aside class="sidebar">
            <div class="sidebar-header">
                <h1>Provider Panel</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#" data-page="dashboard">Dashboard</a></li>
                    <li><a href="#" data-page="profile">Profile</a></li>
                    <li><a href="#" data-page="services">Services</a></li>
                    <li><a href="#" data-page="bookings">Bookings</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <header>
                <h2>Welcome, {{request.user.username|title}}</h2>
                <a id="logout" class="btn btn-info btn-sm" href="/accounts/business_logout/">Logout</a>
            </header>
            <div id="content"></div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static "assets/js/business_script.js" %}"></script>
</body>
</html>

