<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Verification Sent</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <style>
    span{
      color: red;
    }
    li{
      color: orange;
    }
  </style>

</head>

<body>
    <!-- {{form}} -->
  <!-- Registration 12 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8 card-body position-relative">
  <div class="container shadow-lg card py-2 px-3 bg-transparent left-center p-z" style="max-width: 30rem;">
    <h1 class="text-center">Email Verification Sent</h1>

    <div class="d-flex my-2">
        <img src="https://cdn-icons-png.flaticon.com/512/8748/8748009.png" width="100px" alt="..." class="img-thumbnail mx-auto">
    </div>

    <p class="fs-6 my-3">Please check your inbox and click the verification link to activate your account.</p>
        <p class="fs-6 my-2">If you don’t see the email, check your spam folder or try again."    </p>

        <span class="text-dark">open your inbox : <a href="https://mail.google.com/mail/u/0/" class="text-info mx-2" style="text-decoration: none;" target="_blank"><i class="bi bi-envelope"></i> inbox</a></span>
        <a href="/accounts/login/" style="width: 150px;" class="btn btn-outline-info mx-auto my-3">Return to login</a>
    </div>

</div>
</section>

</body>

</html>